
body {
	font-family: Roboto, Helvetica, Verdana;
	padding: 1%;
}

header {
	margin-bottom: 1%;
}

footer {
	margin-bottom: 1%;
	margin-top: 2%;
}

img {
	max-width: 100%; /* added so won't be more than full screen */ 
}
/* all paragraphs with some padding */
p {
	padding-top:15px;
	line-height: 1.6;
}

div li {
	line-height: 1.6;
}

h1 {
	/*font-family: Roboto, Helvetica, Verdana;*/
	font-size: 2em;
	padding-top: 5%;
}

h2 {
	font-size: 1.5em;
}

p.subtitle {
	font-style: italic;
}

/* skip content */
a.skip-main {
	padding: 10px;
	position: relative;
	top: -1000px;
	left: -1000px;
	overflow: hidden;
	text-align: left;
}

a.skip-main:focus {
	top: auto;
	left: auto;
	width: 20%;
	height: auto;
	background: white;
	overflow: visible;
}

header{
	background: #f1f1f1;
	/*display: flex;*/
    justify-content: space-between;
}
/* -----styling header ------- */
/* navigation bar edits */

nav {
	width: 100%;
	/*visibility: hidden;*/
}

nav li {
	display: block;
	width: 100%;
	text-align: center;
	background-color: white;
	min-height: 10vh;
	/*visibility: hidden;*/
}

nav li a {
	width: 100%;
	display: inline-block;
	text-decoration: none;
	color: #000000;
	min-height: 10vh;
	padding-top: 20px;
	font-size: 18px;
	/*visibility: hidden;*/

}

.active_nav_links {
	display: inline-block;
}

#hamburger {
	padding: 0;
	border: none;
	background: none;
	display: flex;
	justify-content: flex-end;
	/*position: absolute;
	top: 25px;
	right: 20px;*/
	font-size: 60px;
	visibility: visible;
}

/*nav ul {
	display: flex;
	justify-content: flex-start;
	margin: 0;
	padding: 5px 5px;
	background-color: #f1f1f1;
	text-align: right;
	align-items: center;
}

/* hiding header icon(s) when on mobile */ 
.social_header{
	display: none;
}

/*nav li {
	display: inline-block;
	width: 24%;
	text-align: center;
	min-height: 6vh;
	background-color: white;
}
nav li a {
	display: inline-block;
	color: #000000;
	line-height: 3;
	width: 100%;
	text-decoration: none;
	text-align: center;
	
}*/

/* animation when someone hovers over navigation */ 

nav li a:hover {
	color: #FFFFFF;
	background-color: #000000;
}
/* my phone is slow and appreciate when things change color once clicked on */
nav li a:active { 
	color: #FFFFFF;
	background-color: #000000;
}
/* font awesome social media links */
div i.fab {
	position: relative;
	align-self: left;
}

/* ----end of nav ---- */



/* style color of icons */
i.social {
	color: black;
	padding-left: 10px;
	padding-top: 10px;
}

/* got help for this from https://codeburst.io/tutorial-three-awesome-css-hover-transitions-animations-for-beginners-c14c08309091 */

/*@keyframes wiggle {
  20%  { transform: translateX(4px);  }
  40%  { transform: translateX(-4px); }
  60%  { transform: translateX(2px);  }
  80%  { transform: translateX(-1px); }
  100% { transform: translateX(0);    }
}
*/
i.social:hover {
	opacity: 0.9;
	color: #4B0082;
	/*animation: wiggle 1s;
	animation-iteration-count: 1;*/
}


/* ------projects page ------- */
/* flex box project page */

h1.projects {
	text-align: center;
}

div.projects{
	display:flex;
	margin-left:15%;
/*	margin-top: 2%;*/
	justify-content: flex-start;
	flex-direction: column;
	min-height: 80vh;
}

div.projects h2 {
	margin-left: 1rem;
	padding-bottom: 1.2rem;
	font-size: 1.2em;
}

div.projects h2.projects{
	text-decoration: none;
}

div.projects img {
	border: solid black 1px;
	margin: 1rem 1rem;
	opacity: 0.5;
}

div.projects img:hover {
	opacity: 1;
}

a.projects {
	text-decoration: none;
	color: black;
}

.current {
	text-decoration: underline;
}


main li {
	display: list-item;
	list-style: disc outside none;
	margin-left: 1em;
} 

ul {
	list-style-type: square;
	font-family: Roboto, Helvetica, Verdana;
}

/* ------about me page -------*/
/* responsive about me */

div.about_me {
	margin-left: 5%;
	margin-bottom: 5%;
	display: inline-block;
	/*width: 90%;*/

}

	img.me {
		height: 40vh;
		padding-top: 2%;
		margin: auto;
		}

div.pyramid {
	display: inline-block;
	/*width: 30%;*/
	/*margin-left: 15%;*/
	/*height: 30vh;*/
	/*width: 300px;*/
	height: 30vh;
	margin-bottom: 5%;
}

div.pyramid img {
	/*margin-left: 15%;*/
	height: 40vh;
	/*margin-bottom: 40%;*/
}

div#flip-card-front {
	visibility: hidden;
}

div#flip-card-reduce {
	display: none;
}


	
/* ----end about me page ----*/

/* -------ux page--------- */


div.ux {
	margin-left: 7%;
	margin-right: 7%;
	padding-bottom: 4%;
	/*padding-top: 2%;*/
}

p.ux, ul.ux {
	padding-left: 7%;
	padding-right: 7%;
}



img.ux {
	display: block;
	margin: auto;
	border: 1px solid black;
	margin-bottom: 60px;
}

img.companalysis {
	display: block;
	margin: auto;
}

.ux_grid {
	display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-items: center;
    padding-bottom: 4%;
}

.ux_grid img {
	border: 1px solid black;
}

div.modal {
	visibility: hidden;
}

#ozplayer-1-container {
	visibility: hidden !important;
}

button.modal-button {
	visibility: hidden;
	display: block;
	margin: auto;
	margin-bottom: 60px;
	font-family:'Roboto',sans-serif;
  background-color: #534caf;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
 /* display: inline-block;*/
  font-size: 16px;
}


button.modal-button:hover{
 text-shadow: 0 0 2em rgba(255,255,255,1);
 color: #FFFFFF;
 /*background-color: #eee;*/
 background-color: #333333;
 cursor: pointer;
}

/* accordion stuff on UX page */
.accordion {
  background-color: #eee;
  display: inline-block;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion h2 {
	display: inline-block;
	width: 40%;
	font-size: 1.5em;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.accordion-content {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.accordion-plus {
	float: right;
	font-size: 25px;
	padding-right: 2%;
	/*vertical-align: middle;*/
}

.accordion-arrow {
	/*vertical-align: middle;*/
}


/* ----end ux page ----*/


/* ----Lansing Civil page ----*/


/* ----end Lansing Civil ----*/

/* -----violence research page ------ */
div.violence {
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
	padding-top: 2%;
}


div.infographic_grid {
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: 1fr;
	grid-gap: 10px;
}

/* ----upcoming projects page -----*/

h1.upcoming {
	margin-left: 6%;
}

div.upcoming {
	display: inline-block;
	width: 90%;
	padding-bottom: 1.2rem;
}

div.upcoming_pic {
	display: inline-block;
	margin: auto;
	margin-left: 7%;
	max-height: 40vh;
}


div.upcoming_grid {
	display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-items: left;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 3%;
}


/* responsive design for large screens */
@media screen and (min-width:780px){
nav {
	visibility: visible;
	width: 100%;
	margin: auto;
}

#hamburger {
	visibility: hidden;
}

/* commented out because added a hamburger menu which changed display entirely */
/*nav ul {
	display: flex;
	justify-content: flex-start;
	margin: 0;
	padding: 5px 5px;
	background-color: #f1f1f1;
	text-align: right;
	align-items: center;
}

/* hiding header icon(s) when on mobile */ 
/*.social_header{
	display: none;
}

nav li {
	display: inline-block;
	width: 24%;
	text-align: center;
	min-height: 6vh;
	background-color: white;
}
nav li a {
	display: inline-block;
	color: #000000;
	line-height: 3;
	width: 100%;
	text-decoration: none;
	text-align: center;
	
}*/

/* animation when someone hovers over navigation */ 
/*nav li:hover {
	background-color: #000000;
	color: #FFFFFF;
}
*/

header {
	display: flex;
}

nav {
	visibility: hidden;
}

nav li {
	display: inline-block;
	width: 15%;
	text-align: center;
	min-height: 6vh;
	background-color: white;
	visibility: visible;
}
nav ul{
	display: flex; 
	justify-content: flex-end; /* was already here */
	margin: 0;
	padding: 5px 5px;
	background-color: #f1f1f1;
	text-align: right;
	align-items: center;
	visibility: visible;
}

nav li a { 
	display: inline-block;
	color: #000000;
	line-height: 3;
	width: 100%;
	text-decoration: none;
	text-align: center;
	padding-top: 0px;
	min-height: 6vh;
	font-size: 16px;
	visibility: visible;
}

.social_header{
	display: block;
}


div.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(6, 1fr);
	grid-column-gap: 100px;
}

div.col_1 {
	grid-column: 1/2;
	grid-row: 1/7;
}

div.pyramid {
	grid-column: 2/3;
	grid-row: 2/4; 
}

div.flip-card {
	padding-top: 10%;
	grid-column: 2/3;
	grid-row: 4/5;
}



/* -------------flip card on large screen only---------------*/

div.flip-card {
	background-color: transparent;
	width: 200px;
	height: 50px;
	/*margin-left: 15%;*/
	/*display: inline-block;*/
	/*margin-bottom: 5%;*/
	perspective: 1000px;
}

div#flip-card-front {
	visibility: visible;
}

div.card-animation {
	position: relative;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

div.flip-card:hover .card-animation {
	transform: rotateX(180deg);
	/*display: inline-block;*/
}

div.card-front, div.card-back {
	position: absolute;
	margin-left: 0%;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	/*display: inline-block;*/
}


div.card-back {
	background-color: white;
	color: black;
	transform: rotateX(180deg);
	font-size: 20px;
}

/* about me background image on large screens only */
.background {
	background-image: url("../images/yachats.jpg");
	background-color: #cccccc;
	height: 400px;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin-right: 1%;
}
 /* ----- UX page ------- */
.ux_grid {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr !important;
    max-width: 50% !important;
	margin: 0 auto;
	grid-column-gap: 20px;
    grid-column-gap: 10px;
}

/* OZ player video */
/* -------- OZ Video Player ------- */

button.modal-button {
	visibility: visible;
}

div.modal {
	visibility: visible;
}


div.modal {
  display: none; 
  visibility: visible;
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


div.oz-modal {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
 /* height: 80%;*/
}

.close-modal {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  display: block;
  font-size: 40px;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  cursor: pointer;
}

.ozplayer-container {
	/*margin: auto;*/
	margin-left: 100px;
	margin-top: 70px;
	display: block;
}

.ozplayer {
	margin: auto !important;
}


/* ---------violence research page --------- */
div.infographic_grid {
	grid-template-columns: 25% 1fr 1fr 25%;
	align-items: left;
	grid-gap: 20px;
}

.infographic_grid div.first {
	grid-column-start: 2;

}

.infographic_grid div.second {
	grid-column-start: 3;
}



/* projects page */
div.projects{
	display:flex;
	margin-left:15%;
	margin-top: 2%;
	justify-content: flex-start;
	flex-direction: row;
}
/* upcoming projects page */
div.upcoming_grid {
    grid-template-columns: 1fr 1fr;
}

/* responsive design for reduced motion */
@media (prefers-reduced-motion: reduce) {
  nav li a:hover {
	color: none;
	background-color: none;
}
/* gets rid of animation that changes opacity on the projects page */
  div.projects img {
	opacity: 1;
}
/* no animation on icons when reduced motion is on */
i.social:hover {
	opacity: 1;
	color: black;
}

/* makes it so there is no a longer a flip card */
div#flip-card-front {
	visibility: hidden;
}

div.flip-card {
	visibility: hidden;
	}

/*#flip-card-reduce {
	display: block;
}*/

}